#Used in webapp.py
#pillow==9.5.0



#Used in fish detection script
#numpy==1.24.3
#matplotlib.pyplot



absl-py                           
altair                           
apache-beam                       
array-record                    
asttokens                       
astunparse                       
attrs                             
avro-python3                      
backcall                         
backports.entry-points-selectable 
black                             
blinker                           
cachetools                        
certifi                           
charset-normalizer               
click                             
cloudpickle                      
colorama                          
contextlib2                       
contourpy                        
crcmod                            
cycler                          
Cython                            
debugpy                           
decorator                         
dill                              
distlib                           
dm-tree                           
docopt                          
entrypoints                    
etils                           
executing                         
fastavro                         
fasteners                        
filelock                          
flatbuffers                       
fonttools                         
gast                              
gin-config                       
gitdb                             
GitPython                         
google-api-core                   
google-api-python-client          
google-auth                       
google-auth-httplib2            
google-auth-oauthlib             
google-pasta                      
googleapis-common-protos          
grpcio                            
h5py                              
hdfs                             
httplib2                          
idna                              
immutabledict                     
importlib-metadata               
importlib-resources              
ipykernel                       
ipython                          
jedi                             
Jinja2                           
joblib                           
jsonschema                        
jsonschema-specifications         
jupyter-client                    
jupyter-core                      
kaggle                            
keras                            
Keras-Preprocessing               
kiwisolver                       
labelImg                          
libclang                          
lvis                             
lxml                             
Markdown                         
markdown-it-py                   
MarkupSafe                       
matplotlib                        
matplotlib-inline               
mdurl                             
mkl-fft                           
mkl-random                      
mkl-service                      
mypy-extensions                   
nest-asyncio                    
numpy                           
oauth2client                    
oauthlib                        
object-detection                
objsize                         
opencv-python                   
opencv-python-headless            
opt-einsum                       
orjson                          
packaging                        
pandas                            
parso                            
pathspec                         
pickleshare                      
Pillow                          
pip                               
platformdirs                     
portalocker                       
promise                           
prompt-toolkit                    
proto-plus                        
protobuf                         
psutil                            
pure-eval                        
py-cpuinfo                      
pyarrow                         
pyasn1                           
pyasn1-modules                  
pycocotools                      
pydeck                            
pydot                            
Pygments                         
pymongo                          
Pympler                          
pyparsing                        
PyQt5                           
PyQt5-Qt5                       
PyQt5-sip                        
python-dateutil                  
python-slugify                   
pytz                              
pywin32                          
PyYAML                           
pyzmq                           
referencing                      
regex                           
requests                       
requests-oauthlib                 
rich                              
rpds-py                           
rsa                               
sacrebleu                         
scikit-learn                     
scipy                            
semver                           
sentencepiece                     
seqeval                         
setuptools                        
six                               
smmap                             
stack-data                       
streamlit                        
tabulate                          
tensorboard                       
tensorboard-data-server           
tensorboard-plugin-wit          
tensorflow                        
tensorflow-addons                
tensorflow-datasets             
tensorflow-estimator             
tensorflow-hub                    
tensorflow-io                    
tensorflow-io-gcs-filesystem      
tensorflow-metadata               
tensorflow-model-optimization   
tensorflow-text                  
termcolor                     
text-unidecode                    
tf-models-official              
tf-slim                           
threadpoolctl                    
toml                             
tomli                            
toolz                             
tornado                           
tqdm                            
traitlets                         
typeguard                        
typing_extensions               
tzdata                           
tzlocal                          
uritemplate                       
urllib3                           
validators                      
virtualenv                       
watchdog                         
wcwidth                           
Werkzeug                        
wget                            
wheel                            
wrapt                             
zipp                              
zstandard                         
